openapi: 3.0.1
info:
  title: Marvel Public API v1
  version: ""
servers:
  - url: http://gateway.marvel.com/v1/public
paths:
  /characters:
    get:
      summary: List characters
      description: Fetches lists of characters.
      operationId: list-characters
      parameters:
        - name: name
          in: query
          description:
            Return only characters matching the specified full character
            name (e.g. Spider-Man).
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description:
            Return characters with names that begin with the specified string
            (e.g. Sp).
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only characters which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only characters which appear in the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only characters which appear the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only characters which appear in the specified events (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only characters which appear the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: The HTTP status code of the returned result
                    example: 200.0
                  status:
                    type: string
                    description: A string description of the call status
                    example: Ok
                  etag:
                    type: string
                    description: A digest value of the content
                    example: f0fbae65eb2f8f28bdeea0a29be8749a4e67acb3
                  data:
                    type: object
                    properties:
                      offset:
                        type: number
                        description:
                          The requested offset (skipped results) of the
                          call
                        example: 0.0
                      limit:
                        type: number
                        description: The requested result limit
                        example: 20.0
                      total:
                        type: number
                        description: The total number of results available
                        example: 30920.0
                      count:
                        type: number
                        description:
                          The total number of results returned by this
                          call
                        example: 20.0
                      results:
                        type: object
                        properties: {}
                        description: The list of entities returned by the call
                    description: The results returned by the call
                  copyright:
                    type: string
                    description: The copyright notice for the returned result
                  attributionText:
                    type: string
                    description: The attribution notice for this result
                  attributionHTML:
                    type: string
                    description:
                      An HTML representation of the attribution notice
                      for this result
  /characters/{characterId}:
    get:
      summary: Character by Id
      description: Fetches a single character by id.
      operationId: character-by-id
      parameters:
        - name: characterId
          in: path
          description: A single character id.
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CharacterDataWrapper"
  /characters/{characterId}/comics:
    get:
      summary: Character comics
      description: Fetches lists of comics filtered by a character id.
      operationId: character-comics
      parameters:
        - name: characterId
          in: path
          description: The character id.
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Filter by the issue format (e.g. comic, digital comic, hardcover).
          schema:
            type: string
        - name: formatType
          in: query
          description: Filter by the issue format type (comic or collection).
          schema:
            type: string
        - name: noVariants
          in: query
          description: Exclude variant comics from the result set.
          schema:
            type: boolean
        - name: dateDescriptor
          in: query
          description: Return comics within a predefined date range.
          schema:
            type: string
        - name: dateRange
          in: query
          description:
            Return comics within a predefined date range.  Dates must be
            specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably
            formatted as YYYY-MM-DD but may be sent as any common date format.
          schema:
            type: number
        - name: diamondCode
          in: query
          description: Filter by diamond code.
          schema:
            type: string
        - name: digitalId
          in: query
          description: Filter by digital comic id.
          schema:
            type: number
        - name: upc
          in: query
          description: Filter by UPC.
          schema:
            type: string
        - name: isbn
          in: query
          description: Filter by ISBN.
          schema:
            type: string
        - name: ean
          in: query
          description: Filter by EAN.
          schema:
            type: string
        - name: issn
          in: query
          description: Filter by ISSN.
          schema:
            type: string
        - name: hasDigitalIssue
          in: query
          description: Include only results which are available digitally.
          schema:
            type: boolean
        - name: modifiedSince
          in: query
          description:
            Return only comics which have been modified since the specified
            date.
          schema:
            type: string
        - name: creators
          in: query
          description:
            Return only comics which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only comics which are part of the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only comics which take place in the specified events (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only comics which contain the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: sharedAppearances
          in: query
          description:
            Return only comics in which the specified characters appear together
            (for example in which BOTH Spider-Man and Wolverine appear).
          schema:
            type: number
        - name: collaborators
          in: query
          description:
            Return only comics in which the specified creators worked together
            (for example in which BOTH Stan Lee and Jack Kirby did work).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ComicDataWrapper"
  /characters/{characterId}/events:
    get:
      summary: Character events
      description: Fetches lists of events filtered by a character id.
      operationId: character-events
      parameters:
        - name: characterId
          in: path
          description: The character ID.
          required: true
          schema:
            type: string
        - name: name
          in: query
          description: Filter the event list by name.
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description:
            Return events with names that begin with the specified string
            (e.g. Sp).
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only events which have been modified since the specified
            date.
          schema:
            type: string
        - name: creators
          in: query
          description:
            Return only events which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only events which are part of the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: comics
          in: query
          description:
            Return only events which take place in the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only events which contain the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/EventDataWrapper"
  /characters/{characterId}/series:
    get:
      summary: Character series
      description: Fetches lists of series filtered by a character id.
      operationId: character-series
      parameters:
        - name: characterId
          in: path
          description: The character ID
          required: true
          schema:
            type: string
        - name: title
          in: query
          description: Filter by series title.
          schema:
            type: string
        - name: titleStartsWith
          in: query
          description:
            Return series with titles that begin with the specified string
            (e.g. Sp).
          schema:
            type: string
        - name: startYear
          in: query
          description: Return only series matching the specified start year.
          schema:
            type: number
        - name: modifiedSince
          in: query
          description:
            Return only series which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only series which contain the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only series which contain the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only series which have comics that take place during the
            specified events (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: creators
          in: query
          description:
            Return only series which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: seriesType
          in: query
          description: Filter the series by publication frequency type.
          schema:
            type: string
        - name: contains
          in: query
          description:
            Return only series containing one or more comics with the specified
            format.
          schema:
            type: string
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SeriesDataWrapper"
  /characters/{characterId}/stories:
    get:
      summary: Character stories
      description: Fetches lists of stories filtered by a character id.
      operationId: character-stories
      parameters:
        - name: characterId
          in: path
          description: The character ID.
          required: true
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only stories which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only stories contained in the specified (accepts a comma-separated
            list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only stories contained the specified series (accepts a
            comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only stories which take place during the specified events
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: creators
          in: query
          description:
            Return only stories which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/StoryDataWrapper"
  /comics:
    get:
      summary: List comics
      description: Fetches lists of comics.
      operationId: list-comics
      parameters:
        - name: format
          in: query
          description: Filter by the issue format (e.g. comic, digital comic, hardcover).
          schema:
            type: string
        - name: formatType
          in: query
          description: Filter by the issue format type (comic or collection).
          schema:
            type: string
        - name: noVariants
          in: query
          description:
            Exclude variants (alternate covers, secondary printings, director's
            cuts, etc.) from the result set.
          schema:
            type: boolean
        - name: dateDescriptor
          in: query
          description: Return comics within a predefined date range.
          schema:
            type: string
        - name: dateRange
          in: query
          description:
            Return comics within a predefined date range.  Dates must be
            specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably
            formatted as YYYY-MM-DD but may be sent as any common date format.
          schema:
            type: number
        - name: diamondCode
          in: query
          description: Filter by diamond code.
          schema:
            type: string
        - name: digitalId
          in: query
          description: Filter by digital comic id.
          schema:
            type: number
        - name: upc
          in: query
          description: Filter by UPC.
          schema:
            type: string
        - name: isbn
          in: query
          description: Filter by ISBN.
          schema:
            type: string
        - name: ean
          in: query
          description: Filter by EAN.
          schema:
            type: string
        - name: issn
          in: query
          description: Filter by ISSN.
          schema:
            type: string
        - name: hasDigitalIssue
          in: query
          description: Include only results which are available digitally.
          schema:
            type: boolean
        - name: modifiedSince
          in: query
          description:
            Return only comics which have been modified since the specified
            date.
          schema:
            type: string
        - name: creators
          in: query
          description:
            Return only comics which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: characters
          in: query
          description:
            Return only comics which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only comics which are part of the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only comics which take place in the specified events (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only comics which contain the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: sharedAppearances
          in: query
          description:
            Return only comics in which the specified characters appear together
            (for example in which BOTH Spider-Man and Wolverine appear). Accepts a comma-separated
            list of ids.
          schema:
            type: number
        - name: collaborators
          in: query
          description:
            Return only comics in which the specified creators worked together
            (for example in which BOTH Stan Lee and Jack Kirby did work). Accepts a
            comma-separated list of ids.
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ComicDataWrapper"
  /comics/{comicId}:
    get:
      summary: Comic by Id
      description: Fetches a single comic by id.
      operationId: comic-by-id
      parameters:
        - name: comicId
          in: path
          description: A single comic.
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ComicDataWrapper"
  /comics/{comicId}/characters:
    get:
      summary: Comic characters
      description: Fetches lists of characters filtered by a comic id.
      operationId: comic-characters
      parameters:
        - name: comicId
          in: path
          description: The comic id.
          required: true
          schema:
            type: string
        - name: name
          in: query
          description:
            Return only characters matching the specified full character
            name (e.g. Spider-Man).
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description:
            Return characters with names that begin with the specified string
            (e.g. Sp).
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only characters which have been modified since the specified
            date.
          schema:
            type: string
        - name: series
          in: query
          description:
            Return only characters which appear the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only characters which appear comics that took place in
            the specified events (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only characters which appear the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CharacterDataWrapper"
  /comics/{comicId}/creators:
    get:
      summary: Comic creators
      description: Fetches lists of creators filtered by a comic id.
      operationId: comic-creators
      parameters:
        - name: comicId
          in: path
          description: The comic id.
          required: true
          schema:
            type: string
        - name: firstName
          in: query
          description: Filter by creator first name (e.g. brian).
          schema:
            type: string
        - name: middleName
          in: query
          description: Filter by creator middle name (e.g. Michael).
          schema:
            type: string
        - name: lastName
          in: query
          description: Filter by creator last name (e.g. Bendis).
          schema:
            type: string
        - name: suffix
          in: query
          description: Filter by suffix or honorific (e.g. Jr., Sr.).
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description: Filter by creator names that match critera (e.g. B, St L).
          schema:
            type: string
        - name: firstNameStartsWith
          in: query
          description:
            Filter by creator first names that match critera (e.g. B, St
            L).
          schema:
            type: string
        - name: middleNameStartsWith
          in: query
          description: Filter by creator middle names that match critera (e.g. Mi).
          schema:
            type: string
        - name: lastNameStartsWith
          in: query
          description: Filter by creator last names that match critera (e.g. Ben).
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only creators which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only creators who worked on in the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only creators who worked on the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only creators who worked on the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreatorDataWrapper"
  /comics/{comicId}/events:
    get:
      summary: Comic events
      description: Fetches lists of events filtered by a comic id.
      operationId: comic-events
      parameters:
        - name: comicId
          in: path
          description: The comic ID.
          required: true
          schema:
            type: string
        - name: name
          in: query
          description: Filter the event list by name.
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description:
            Return events with names that begin with the specified string
            (e.g. Sp).
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only events which have been modified since the specified
            date.
          schema:
            type: string
        - name: creators
          in: query
          description:
            Return only events which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: characters
          in: query
          description:
            Return only events which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only events which are part of the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only events which contain the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/EventDataWrapper"
  /comics/{comicId}/stories:
    get:
      summary: Comic stories
      description: Fetches lists of stories filtered by a comic id.
      operationId: comic-stories
      parameters:
        - name: comicId
          in: path
          description: The comic ID.
          required: true
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only stories which have been modified since the specified
            date.
          schema:
            type: string
        - name: series
          in: query
          description:
            Return only stories contained the specified series (accepts a
            comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only stories which take place during the specified events
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: creators
          in: query
          description:
            Return only stories which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: characters
          in: query
          description:
            Return only stories which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/StoryDataWrapper"
  /creators:
    get:
      summary: List creators
      description: Fetches lists of creators.
      operationId: list-creators
      parameters:
        - name: firstName
          in: query
          description: Filter by creator first name (e.g. Brian).
          schema:
            type: string
        - name: middleName
          in: query
          description: Filter by creator middle name (e.g. Michael).
          schema:
            type: string
        - name: lastName
          in: query
          description: Filter by creator last name (e.g. Bendis).
          schema:
            type: string
        - name: suffix
          in: query
          description: Filter by suffix or honorific (e.g. Jr., Sr.).
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description: Filter by creator names that match critera (e.g. B, St L).
          schema:
            type: string
        - name: firstNameStartsWith
          in: query
          description:
            Filter by creator first names that match critera (e.g. B, St
            L).
          schema:
            type: string
        - name: middleNameStartsWith
          in: query
          description: Filter by creator middle names that match critera (e.g. Mi).
          schema:
            type: string
        - name: lastNameStartsWith
          in: query
          description: Filter by creator last names that match critera (e.g. Ben).
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only creators which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only creators who worked on in the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only creators who worked on the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only creators who worked on comics that took place in
            the specified events (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only creators who worked on the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreatorDataWrapper"
  /creators/{creatorId}:
    get:
      summary: Creator by Id
      description: Fetches a single creator by id.
      operationId: creator-by-id
      parameters:
        - name: creatorId
          in: path
          description: A single creator id.
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreatorDataWrapper"
  /creators/{creatorId}/comics:
    get:
      summary: Creator comics
      description: Fetches lists of comics filtered by a creator id.
      operationId: creator-comics
      parameters:
        - name: creatorId
          in: path
          description: The creator ID.
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Filter by the issue format (e.g. comic, digital comic, hardcover).
          schema:
            type: string
        - name: formatType
          in: query
          description: Filter by the issue format type (comic or collection).
          schema:
            type: string
        - name: noVariants
          in: query
          description: Exclude variant comics from the result set.
          schema:
            type: boolean
        - name: dateDescriptor
          in: query
          description: Return comics within a predefined date range.
          schema:
            type: string
        - name: dateRange
          in: query
          description:
            Return comics within a predefined date range.  Dates must be
            specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably
            formatted as YYYY-MM-DD but may be sent as any common date format.
          schema:
            type: number
        - name: diamondCode
          in: query
          description: Filter by diamond code.
          schema:
            type: string
        - name: digitalId
          in: query
          description: Filter by digital comic id.
          schema:
            type: number
        - name: upc
          in: query
          description: Filter by UPC.
          schema:
            type: string
        - name: isbn
          in: query
          description: Filter by ISBN.
          schema:
            type: string
        - name: ean
          in: query
          description: Filter by EAN.
          schema:
            type: string
        - name: issn
          in: query
          description: Filter by ISSN.
          schema:
            type: string
        - name: hasDigitalIssue
          in: query
          description: Include only results which are available digitally.
          schema:
            type: boolean
        - name: modifiedSince
          in: query
          description:
            Return only comics which have been modified since the specified
            date.
          schema:
            type: string
        - name: characters
          in: query
          description:
            Return only comics which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only comics which are part of the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only comics which take place in the specified events (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only comics which contain the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: sharedAppearances
          in: query
          description:
            Return only comics in which the specified characters appear together
            (for example in which BOTH Spider-Man and Wolverine appear).
          schema:
            type: number
        - name: collaborators
          in: query
          description:
            Return only comics in which the specified creators worked together
            (for example in which BOTH Stan Lee and Jack Kirby did work).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ComicDataWrapper"
  /creators/{creatorId}/events:
    get:
      summary: Creator events
      description: Fetches lists of events filtered by a creator id.
      operationId: creator-events
      parameters:
        - name: creatorId
          in: path
          description: The creator ID.
          required: true
          schema:
            type: string
        - name: name
          in: query
          description: Filter the event list by name.
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description:
            Return events with names that begin with the specified string
            (e.g. Sp).
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only events which have been modified since the specified
            date.
          schema:
            type: string
        - name: characters
          in: query
          description:
            Return only events which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only events which are part of the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: comics
          in: query
          description:
            Return only events which take place in the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only events which contain the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/EventDataWrapper"
  /creators/{creatorId}/series:
    get:
      summary: Creator series
      description: Fetches lists of series filtered by a creator id.
      operationId: creator-series
      parameters:
        - name: creatorId
          in: path
          description: The creator ID.
          required: true
          schema:
            type: string
        - name: title
          in: query
          description: Filter by series title.
          schema:
            type: string
        - name: titleStartsWith
          in: query
          description:
            Return series with titles that begin with the specified string
            (e.g. Sp).
          schema:
            type: string
        - name: startYear
          in: query
          description: Return only series matching the specified start year.
          schema:
            type: number
        - name: modifiedSince
          in: query
          description:
            Return only series which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only series which contain the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only series which contain the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only series which have comics that take place during the
            specified events (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: characters
          in: query
          description:
            Return only series which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: seriesType
          in: query
          description: Filter the series by publication frequency type.
          schema:
            type: string
        - name: contains
          in: query
          description:
            Return only series containing one or more comics with the specified
            format.
          schema:
            type: string
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SeriesDataWrapper"
  /creators/{creatorId}/stories:
    get:
      summary: Creator stories
      description: Fetches lists of stories filtered by a creator id.
      operationId: creator-stories
      parameters:
        - name: creatorId
          in: path
          description: The ID of the creator.
          required: true
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only stories which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only stories contained in the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only stories contained the specified series (accepts a
            comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only stories which take place during the specified events
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: characters
          in: query
          description:
            Return only stories which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/StoryDataWrapper"
  /events:
    get:
      summary: List events
      description: Fetches lists of events.
      operationId: list-events
      parameters:
        - name: name
          in: query
          description: Return only events which match the specified name.
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description:
            Return events with names that begin with the specified string
            (e.g. Sp).
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only events which have been modified since the specified
            date.
          schema:
            type: string
        - name: creators
          in: query
          description:
            Return only events which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: characters
          in: query
          description:
            Return only events which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only events which are part of the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: comics
          in: query
          description:
            Return only events which take place in the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only events which take place in the specified stories
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/EventDataWrapper"
  /events/{eventId}:
    get:
      summary: Event by Id
      description: Fetches a single event by id.
      operationId: event-by-id
      parameters:
        - name: eventId
          in: path
          description: A single event.
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/EventDataWrapper"
  /events/{eventId}/characters:
    get:
      summary: Event characters
      description: Fetches lists of characters filtered by an event id.
      operationId: event-characters
      parameters:
        - name: eventId
          in: path
          description: The event ID
          required: true
          schema:
            type: string
        - name: name
          in: query
          description:
            Return only characters matching the specified full character
            name (e.g. Spider-Man).
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description:
            Return characters with names that begin with the specified string
            (e.g. Sp).
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only characters which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only characters which appear in the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only characters which appear the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only characters which appear the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CharacterDataWrapper"
  /events/{eventId}/comics:
    get:
      summary: Event comics
      description: Fetches lists of comics filtered by an event id.
      operationId: event-comics
      parameters:
        - name: eventId
          in: path
          description: The event id.
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Filter by the issue format (e.g. comic, digital comic, hardcover).
          schema:
            type: string
        - name: formatType
          in: query
          description: Filter by the issue format type (comic or collection).
          schema:
            type: string
        - name: noVariants
          in: query
          description: Exclude variant comics from the result set.
          schema:
            type: boolean
        - name: dateDescriptor
          in: query
          description: Return comics within a predefined date range.
          schema:
            type: string
        - name: dateRange
          in: query
          description:
            Return comics within a predefined date range.  Dates must be
            specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably
            formatted as YYYY-MM-DD but may be sent as any common date format.
          schema:
            type: number
        - name: diamondCode
          in: query
          description: Filter by diamond code.
          schema:
            type: string
        - name: digitalId
          in: query
          description: Filter by digital comic id.
          schema:
            type: number
        - name: upc
          in: query
          description: Filter by UPC.
          schema:
            type: string
        - name: isbn
          in: query
          description: Filter by ISBN.
          schema:
            type: string
        - name: ean
          in: query
          description: Filter by EAN.
          schema:
            type: string
        - name: issn
          in: query
          description: Filter by ISSN.
          schema:
            type: string
        - name: hasDigitalIssue
          in: query
          description: Include only results which are available digitally.
          schema:
            type: boolean
        - name: modifiedSince
          in: query
          description:
            Return only comics which have been modified since the specified
            date.
          schema:
            type: string
        - name: creators
          in: query
          description:
            Return only comics which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: characters
          in: query
          description:
            Return only comics which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only comics which are part of the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only comics which take place in the specified events (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only comics which contain the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: sharedAppearances
          in: query
          description:
            Return only comics in which the specified characters appear together
            (for example in which BOTH Spider-Man and Wolverine appear).
          schema:
            type: number
        - name: collaborators
          in: query
          description:
            Return only comics in which the specified creators worked together
            (for example in which BOTH Stan Lee and Jack Kirby did work).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ComicDataWrapper"
  /events/{eventId}/creators:
    get:
      summary: Event creators
      description: Fetches lists of creators filtered by an event id.
      operationId: event-creators
      parameters:
        - name: eventId
          in: path
          description: The event ID.
          required: true
          schema:
            type: string
        - name: firstName
          in: query
          description: Filter by creator first name (e.g. brian).
          schema:
            type: string
        - name: middleName
          in: query
          description: Filter by creator middle name (e.g. Michael).
          schema:
            type: string
        - name: lastName
          in: query
          description: Filter by creator last name (e.g. Bendis).
          schema:
            type: string
        - name: suffix
          in: query
          description: Filter by suffix or honorific (e.g. Jr., Sr.).
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description: Filter by creator names that match critera (e.g. B, St L).
          schema:
            type: string
        - name: firstNameStartsWith
          in: query
          description:
            Filter by creator first names that match critera (e.g. B, St
            L).
          schema:
            type: string
        - name: middleNameStartsWith
          in: query
          description: Filter by creator middle names that match critera (e.g. Mi).
          schema:
            type: string
        - name: lastNameStartsWith
          in: query
          description: Filter by creator last names that match critera (e.g. Ben).
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only creators which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only creators who worked on in the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only creators who worked on the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only creators who worked on the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreatorDataWrapper"
  /events/{eventId}/series:
    get:
      summary: Event series
      description: Fetches lists of series filtered by an event id.
      operationId: event-series
      parameters:
        - name: eventId
          in: path
          description: The event ID.
          required: true
          schema:
            type: string
        - name: title
          in: query
          description: Filter by series title.
          schema:
            type: string
        - name: titleStartsWith
          in: query
          description:
            Return series with titles that begin with the specified string
            (e.g. Sp).
          schema:
            type: string
        - name: startYear
          in: query
          description: Return only series matching the specified start year.
          schema:
            type: number
        - name: modifiedSince
          in: query
          description:
            Return only series which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only series which contain the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only series which contain the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: creators
          in: query
          description:
            Return only series which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: characters
          in: query
          description:
            Return only series which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: seriesType
          in: query
          description: Filter the series by publication frequency type.
          schema:
            type: string
        - name: contains
          in: query
          description:
            Return only series containing one or more comics with the specified
            format.
          schema:
            type: string
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SeriesDataWrapper"
  /events/{eventId}/stories:
    get:
      summary: Event stories
      description: Fetches lists of stories filtered by an event id.
      operationId: event-stories
      parameters:
        - name: eventId
          in: path
          description: The ID of the event.
          required: true
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only stories which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only stories contained in the specified (accepts a comma-separated
            list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only stories contained the specified series (accepts a
            comma-separated list of ids).
          schema:
            type: number
        - name: creators
          in: query
          description:
            Return only stories which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: characters
          in: query
          description:
            Return only stories which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/StoryDataWrapper"
  /series:
    get:
      summary: List series
      description: Fetches lists of series.
      operationId: list-series
      parameters:
        - name: title
          in: query
          description: Return only series matching the specified title.
          schema:
            type: string
        - name: titleStartsWith
          in: query
          description:
            Return series with titles that begin with the specified string
            (e.g. Sp).
          schema:
            type: string
        - name: startYear
          in: query
          description: Return only series matching the specified start year.
          schema:
            type: number
        - name: modifiedSince
          in: query
          description:
            Return only series which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only series which contain the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only series which contain the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only series which have comics that take place during the
            specified events (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: creators
          in: query
          description:
            Return only series which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: characters
          in: query
          description:
            Return only series which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: seriesType
          in: query
          description: Filter the series by publication frequency type.
          schema:
            type: string
        - name: contains
          in: query
          description:
            Return only series containing one or more comics with the specified
            format.
          schema:
            type: string
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SeriesDataWrapper"
  /series/{seriesId}:
    get:
      summary: Series by id
      description: Fetches a single comic series by id.
      operationId: series-by-id
      parameters:
        - name: seriesId
          in: path
          description: Filter by series title.
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SeriesDataWrapper"
  /series/{seriesId}/characters:
    get:
      summary: Series characters
      description: Fetches lists of characters filtered by a series id.
      operationId: series-characters
      parameters:
        - name: seriesId
          in: path
          description: The series id.
          required: true
          schema:
            type: string
        - name: name
          in: query
          description:
            Return only characters matching the specified full character
            name (e.g. Spider-Man).
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description:
            Return characters with names that begin with the specified string
            (e.g. Sp).
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only characters which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only characters which appear in the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only characters which appear comics that took place in
            the specified events (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only characters which appear the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CharacterDataWrapper"
  /series/{seriesId}/comics:
    get:
      summary: Series comics
      description: Fetches lists of comics filtered by a series id.
      operationId: series-comics
      parameters:
        - name: seriesId
          in: path
          description: The series ID.
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Filter by the issue format (e.g. comic, digital comic, hardcover).
          schema:
            type: string
        - name: formatType
          in: query
          description: Filter by the issue format type (comic or collection).
          schema:
            type: string
        - name: noVariants
          in: query
          description: Exclude variant comics from the result set.
          schema:
            type: boolean
        - name: dateDescriptor
          in: query
          description: Return comics within a predefined date range.
          schema:
            type: string
        - name: dateRange
          in: query
          description:
            Return comics within a predefined date range.  Dates must be
            specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably
            formatted as YYYY-MM-DD but may be sent as any common date format.
          schema:
            type: number
        - name: diamondCode
          in: query
          description: Filter by diamond code.
          schema:
            type: string
        - name: digitalId
          in: query
          description: Filter by digital comic id.
          schema:
            type: number
        - name: upc
          in: query
          description: Filter by UPC.
          schema:
            type: string
        - name: isbn
          in: query
          description: Filter by ISBN.
          schema:
            type: string
        - name: ean
          in: query
          description: Filter by EAN.
          schema:
            type: string
        - name: issn
          in: query
          description: Filter by ISSN.
          schema:
            type: string
        - name: hasDigitalIssue
          in: query
          description: Include only results which are available digitally.
          schema:
            type: boolean
        - name: modifiedSince
          in: query
          description:
            Return only comics which have been modified since the specified
            date.
          schema:
            type: string
        - name: creators
          in: query
          description:
            Return only comics which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: characters
          in: query
          description:
            Return only comics which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only comics which take place in the specified events (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only comics which contain the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: sharedAppearances
          in: query
          description:
            Return only comics in which the specified characters appear together
            (for example in which BOTH Spider-Man and Wolverine appear).
          schema:
            type: number
        - name: collaborators
          in: query
          description:
            Return only comics in which the specified creators worked together
            (for example in which BOTH Stan Lee and Jack Kirby did work).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ComicDataWrapper"
  /series/{seriesId}/creators:
    get:
      summary: Series creators
      description: Fetches lists of creators filtered by a series id.
      operationId: series-creators
      parameters:
        - name: seriesId
          in: path
          description: The series ID.
          required: true
          schema:
            type: string
        - name: firstName
          in: query
          description: Filter by creator first name (e.g. brian).
          schema:
            type: string
        - name: middleName
          in: query
          description: Filter by creator middle name (e.g. Michael).
          schema:
            type: string
        - name: lastName
          in: query
          description: Filter by creator last name (e.g. Bendis).
          schema:
            type: string
        - name: suffix
          in: query
          description: Filter by suffix or honorific (e.g. Jr., Sr.).
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description: Filter by creator names that match critera (e.g. B, St L).
          schema:
            type: string
        - name: firstNameStartsWith
          in: query
          description:
            Filter by creator first names that match critera (e.g. B, St
            L).
          schema:
            type: string
        - name: middleNameStartsWith
          in: query
          description: Filter by creator middle names that match critera (e.g. Mi).
          schema:
            type: string
        - name: lastNameStartsWith
          in: query
          description: Filter by creator last names that match critera (e.g. Ben).
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only creators which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only creators who worked on in the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only creators who worked on comics that took place in
            the specified events (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only creators who worked on the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreatorDataWrapper"
  /series/{seriesId}/events:
    get:
      summary: Series events
      description: Fetches lists of events filtered by a series id.
      operationId: series-events
      parameters:
        - name: seriesId
          in: path
          description: The series ID.
          required: true
          schema:
            type: string
        - name: name
          in: query
          description: Filter the event list by name.
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description:
            Return events with names that begin with the specified string
            (e.g. Sp).
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only events which have been modified since the specified
            date.
          schema:
            type: string
        - name: creators
          in: query
          description:
            Return only events which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: characters
          in: query
          description:
            Return only events which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: comics
          in: query
          description:
            Return only events which take place in the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: stories
          in: query
          description:
            Return only events which contain the specified stories (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/EventDataWrapper"
  /series/{seriesId}/stories:
    get:
      summary: Series stories
      description: Fetches lists of stories filtered by a series id.
      operationId: series-stories
      parameters:
        - name: seriesId
          in: path
          description: The series ID.
          required: true
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only stories which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only stories contained in the specified (accepts a comma-separated
            list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only stories which take place during the specified events
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: creators
          in: query
          description:
            Return only stories which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: characters
          in: query
          description:
            Return only stories which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/StoryDataWrapper"
  /stories:
    get:
      summary: List stories
      description: Fetches lists of stories.
      operationId: list-stories
      parameters:
        - name: modifiedSince
          in: query
          description:
            Return only stories which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only stories contained in the specified (accepts a comma-separated
            list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only stories contained the specified series (accepts a
            comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only stories which take place during the specified events
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: creators
          in: query
          description:
            Return only stories which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: characters
          in: query
          description:
            Return only stories which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/StoryDataWrapper"
  /stories/{storyId}:
    get:
      summary: Story by Id
      description: Fetches a single comic story by id.
      operationId: story-by-id
      parameters:
        - name: storyId
          in: path
          description: Filter by story id.
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/StoryDataWrapper"
  /stories/{storyId}/characters:
    get:
      summary: Story characters
      description: Fetches lists of characters filtered by a story id.
      operationId: story-characters
      parameters:
        - name: storyId
          in: path
          description: The story ID.
          required: true
          schema:
            type: string
        - name: name
          in: query
          description:
            Return only characters matching the specified full character
            name (e.g. Spider-Man).
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description:
            Return characters with names that begin with the specified string
            (e.g. Sp).
          schema:
            type: string
        - name: modifiedSince
          in: query
          description:
            Return only characters which have been modified since the specified
            date.
          schema:
            type: string
        - name: comics
          in: query
          description:
            Return only characters which appear in the specified comics (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only characters which appear the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only characters which appear comics that took place in
            the specified events (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: orderBy
          in: query
          description:
            Order the result set by a field or fields. Add a "-" to the value
            sort in descending order. Multiple values are given priority in the order
            in which they are passed.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          schema:
            type: number
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CharacterDataWrapper"
  /stories/{storyId}/comics:
    get:
      summary: Story comics
      description: Fetches lists of comics filtered by a story id.
      operationId: story-comics
      parameters:
        - name: storyId
          in: path
          description: The story ID.
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Filter by the issue format (e.g. comic, digital comic, hardcover).
          schema:
            type: string
        - name: formatType
          in: query
          description: Filter by the issue format type (comic or collection).
          schema:
            type: string
        - name: noVariants
          in: query
          description: Exclude variant comics from the result set.
          schema:
            type: boolean
        - name: dateDescriptor
          in: query
          description: Return comics within a predefined date range.
          schema:
            type: string
        - name: dateRange
          in: query
          description:
            Return comics within a predefined date range.  Dates must be
            specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably
            formatted as YYYY-MM-DD but may be sent as any common date format.
          schema:
            type: number
        - name: diamondCode
          in: query
          description: Filter by diamond code.
          schema:
            type: string
        - name: digitalId
          in: query
          description: Filter by digital comic id.
          schema:
            type: number
        - name: upc
          in: query
          description: Filter by UPC.
          schema:
            type: string
        - name: isbn
          in: query
          description: Filter by ISBN.
          schema:
            type: string
        - name: ean
          in: query
          description: Filter by EAN.
          schema:
            type: string
        - name: issn
          in: query
          description: Filter by ISSN.
          schema:
            type: string
        - name: hasDigitalIssue
          in: query
          description: Include only results which are available digitally.
          schema:
            type: boolean
        - name: modifiedSince
          in: query
          description:
            Return only comics which have been modified since the specified
            date.
          schema:
            type: string
        - name: creators
          in: query
          description:
            Return only comics which feature work by the specified creators
            (accepts a comma-separated list of ids).
          schema:
            type: number
        - name: characters
          in: query
          description:
            Return only comics which feature the specified characters (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: series
          in: query
          description:
            Return only comics which are part of the specified series (accepts
            a comma-separated list of ids).
          schema:
            type: number
        - name: events
          in: query
          description:
            Return only comics which take place in the specified events (accepts
            a comma-separated list of ids).
[...]
