<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425398820976-dg6etiej6k87le9dk89ork3rao0f7ldc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425398820976-dg6etiej6k87le9dk89ork3rao0f7ldc</string>
	<key>API_KEY</key>
	<string>AIzaSyD8xHDwO9WN-0YyLCAfAl1VfRKp9P56irg</string>
	<key>GCM_SENDER_ID</key>
	<string>425398820976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cacaosua.flux.stg</string>
	<key>PROJECT_ID</key>
	<string>flux-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>flux-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425398820976:ios:b1a0856d94366e32ee14b5</string>
</dict>
</plist>